html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: normal;
}

/* Mobile Menu Styles */
#mobile-menu {
  transition: all 0.3s ease-in-out;
}

/* Carousel Styles */
.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  width: 300%; /* 3 slides, each 100% width */
}

.testimonial-slide {
  width: 100%; /* Each slide takes full width of the container */
  flex: 0 0 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

.carousel-dot {
  cursor: pointer;
  transition: opacity 0.3s ease;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}


:root {

  	/* Fonts */
  	--font-cinzel: Cinzel;
  	--font-playfair-display: 'Playfair Display';
  	--font-merriweather: Merriweather;

  	/* font sizes */
  	--font-size-11xl: 1.875rem;
  	--font-size-36xl: 3.438rem;

  	/* Colors */
  	--color-blanchedalmond: #fff1ce;
  	--color-darkred: #870000;
  	--color-orange: #ffb722;
  	--color-white: #fff;

}

body, html {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Merriweather', sans-serif;
  background-color: #870000;
}


/*try lang*/
.navbar {
	width: 100%;
	background-color: #fcb734;
	padding: 1vh 3vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
  }

  .navbar-inner {
	display: flex;
	align-items: center;
	width: 100%;
  }

  .navbar-links {
	display: flex;
	gap: 20px;
	margin-left: auto;
	position: relative;
  }

  .navbar-image {
	position: absolute;
	top: -1.5vh;
	left: -50vw;
	width: 12vw;
	height: 20vh;
  }


  .nav-link {
	font-family: 'Merriweather', serif;
	color: #870000;
	text-decoration: none;
	font-size: 1.2vw;
	transition: color 0.3s ease, transform 0.3s ease;
  }

  .navbar-icon {
	margin-left: 5px;
  }

  .navbar-icon img {
	width: 30px;
	height: 30px;
  }

  .shopping-cart-icon {
	width: 2.5vw;
	height: 2.5vw;
	cursor: pointer;
  }

  .nav-link:hover {
	color: #ffffff;
	transform: scale(1.1);
  }

  .zhi-wei-zai-restaurant-website {
	position: absolute;
	top: 31vh;
	left: 50%;
	transform: translateX(-50%);
	width: 54vw;
	height: 95vh;
	object-fit: cover;
  }

  .zhi-wei-zai-restaurant-website1 {
	position: absolute;
	top: 1.5vh;
	right: 5vw;
	width: 15vw;
	height: 32vh;
	object-fit: cover;
  }

  .zhi-wei-zai-restaurant-website2 {
	position: absolute;
	top: 12vh;
	left: -0.5vw;
	width: 16vw;
	height: 35vh;
	object-fit: cover;
  }


.landing-page {
	width: 100%;
	position: relative;
	height: 2500px;
	overflow: hidden;
	text-align: left;
	font-size: 20px;
	color: #870000;
	font-family: Merriweather;
}

 .dine-like-an {
	position: absolute;
	top: 25vh;
	left: 50%;
	transform: translateX(-50%);
	font-size: 3.5vw;
	color: #fff;
	text-align: center;
	width: 55vw;
	height: auto;
  }

  .a-taste-of {
	position: absolute;
	top: 33vh;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.8vw;
	font-family: 'Playfair Display', serif;
	color: #fff;
	text-align: center;
	width: 43vw;
	height: auto;
  }

  .rectangle-div {
	position: absolute;
	top: 950px;
	left: -2px;
	background-color: #fff1ce;
	width: 100%;
	height: 900px;
}

  .what-customers-say-container {
	z-index: 1;
	position: absolute;
	top: 5vh;
	left: 50%;
	transform: translateX(-50%);
	font-size: 3vw;
	text-align: center;
	width: 55vw;
	color: #720010;
  }

  .zhiweizai1 {
	font-weight: 700;
	font-family: Merriweather;
	color: #ffbb00;
}

.rectangle-parent {
	position: absolute;
	top: 78vh;
	left: 7.4vw;
	width: 100vw;
	height: 60vh;
	text-align: center;
	font-size: 1.25vw;
	color: #fff;
	font-family: 'Playfair Display', serif;
}

.background {
	position: absolute;
	top: 80%;
	left: 12vw;
	width: 18vw;
	height: 50vh;
  }

  .background1 {
	position: absolute;
	top: 80%;
	left: 35vw;
	width: 18vw;
	height: 50vh;
  }

  .background2 {
	position: absolute;
	top: 80%;
	left: 58vw;
	width: 18vw;
	height: 50vh;
  }

  .group-child {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #870000;
	width: 100%;
	height: 100%;
  }

  .group-item {
	position: absolute;
	top: 95%;
	left: 94%;
	background-color: #fff1ce;
	width: 1vw;
	height: 2vh;
  }

  .group-inner {
	position: absolute;
	top: 95%;
	left: 0;
	background-color: #fff1ce;
	width: 1vw;
	height: 2vh;
  }

  .group-child1 {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff1ce;
	width: 1vw;
	height: 2vh;
  }

  .pic1, .pic2, .pic3 {
	position: absolute;
	top: 55vh;
	width: 8vw;
	height: 8vw;
	object-fit: cover;
	z-index: 10;
	border-radius: 50%;
  }

  .pic1 { left: 17vw; }
  .pic2 { left: 40vw; }
  .pic3 { left: 63vw; }

  .lawrence-agpasa,
  .brian-ong,
  .darren-rodriguez {
	position: absolute;
	text-align: center;
	top: 73vh;
	font-size: 1.8vw;
	display: inline-block;
	font-family: 'Merriweather', serif;
	width: 18vw;
	height: 3vh;
  }

   .lawrence-agpasa { left: 12vw; }
  .brian-ong { left: 35vw; }
  .darren-rodriguez { left: 58.5vw; }

  .incredible-flavors-fresh-container,
  .best-food-for-container,
  .taste-just-like-container {
	position: absolute;
	font-size: 1.2vw;
	top: 80vh;
	width: 22vw;
  }

  .incredible-flavors-fresh-container { left: 10vw; }
  .best-food-for-container { left: 33vw; }
  .taste-just-like-container { left: 56vw; }


  .group-child8 {
	position: absolute;
	top: 0px;
	left: 312.09px;
	background-color: #870000;
	width: 290.8px;
	height: 392px;
}

.about-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.girlpic-2-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.about-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5vw;
}

.overlay-box {
  position: absolute;
  width: 30vw;
  height: 45vh;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  right: 5vw;
}

.our-story-begins {
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 25vh;
  right: 7vw;
  width: 26vw;
  z-index: 1;
}

.about-description {
  position: absolute;
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 1vw;
  top: 32vh;
  right: 7vw;
  width: 26vw;
  z-index: 1;
}

.about-section {
	position: relative;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding: 5vh 5vw;
	gap: 3vw;
	background-color: #000;
  }

  .story {
    position: relative;
    width: 100%;
    height: 900px;
	top: -649px;
}

.girlpic-2-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
  .about-text-box {
	max-width: 40vw;
	color: #fff;
	font-family: 'Playfair Display', serif;
  }

.component-child {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 0%;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0.5;
}

  .landing-page-inner1 {
	position: absolute;
	top: 2000px;
	left: 1250px;
	width: 500px;
	height: 263px;
}

.our-story-begins {
	position: absolute;
	top: 2020px;
	left: 1290px;
	font-size: 32px;
	display: inline-block;
	color: #fff;
	width: 352px;
	height: 42px;
}

.about-description {
	position: absolute;
	top: 2120px;
	left: 1290px;
	font-size: 15px;
	font-family: 'Playfair Display';
	color: #fff;
	display: inline-block;
	width: 420px;
	height: 111px;
	text-align: justify;
}



.b3724b4d6500142f15d53777f6947e-icon {
	position: absolute;
	top: 2800px;
	left: 1000px;
	width: 700px;
	height: 700px;
	object-fit: cover;
}

.c024b64f1a9dfc099ecb0f23469186-icon {
	position: absolute;
	top: 3250px;
	left: 700px;
	width: 513.7px;
	height: 513.7px;
	object-fit: contain;
}

.landing-page-child1 {
	position: absolute;
	top: 2990px;
	left: 110.5px;
	border-top: 3px solid #ffb722;
	box-sizing: border-box;
	width: 66px;
	height: 3px;
}

.when-you-drink-container {
	position: absolute;
	top: 3020px;
	left: 112px;
	font-size: 51px;
	color: #fff;
	display: inline-block;
	width: 369px;
	font-family: 'Playfair Display';
}

.kristen-wong {
	position: absolute;
	top: 3350px;
	left: 112px;
	font-size: 14px;
	color: #fff;
}

.footer-rectangle {
    position: absolute;
    top: 3645px;
    left: 0px;
    width: 100%;
    height: 137px;
    text-align: center;
    font-size: 18px;
    font-family: 'Playfair Display';
	color: #870000; /* Set all text in footer to red */
}

.footer-rectangle-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fcb734;
    width: 100%;
    height: 137px;
}

.footer-rectangle-item {
    position: absolute;
    top: 11px;
    left: 15vw;
    border-right: 2px solid #870000;
    box-sizing: border-box;
    width: 2px;
    height: 110px;
}

.div1 {
    position: absolute;
    top: 7px;
    left: 5vw;
}

.div1 img {
    height: 120px;
    width: 105px;
    object-fit: contain;
}

.footer-section {
    position: absolute;
    top: 15px;
    font-size: 1.5vw;
    color: #870000;
    font-weight: bold;
}

.address { left: 22vw; }
.opening-hours { left: 45vw; }
.contact1 { left: 68vw; }

.footer-content {
    position: absolute;
    font-size: 1vw;
    color: #870000;
    margin-top: 40px;
}

.maysan-road-valenzuela-container { left: 22vw; }
.mon-fri, .sat-sun { left: 45vw; }
.wrapper { left: 68vw; }

.footer-branding {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1vw;
    color: #870000;
    font-weight: bold;
}

.contact-icon-1 {
	position: absolute;
	top: 68px;
	left: 1380px;
	width: 16.7px;
	height: 19px;
	object-fit: cover;
}

.address {
	position: absolute;
	top: 26px;
	left: calc(50% - 315px);
}

.opening-hours {
position: absolute;
top: 26px;
left: calc(50% + 54px);
}

.contact1 {
	position: absolute;
	top: 26px;
	left: calc(50% + 454px);
}

.maysan-road-valenzuela-container {
	position: absolute;
	top: 50px;
	left: calc(50% - 340px);
}

.mon-fri {
	position: absolute;
	top: 53px;
	left: calc(50% + 2px);
}

.sat-sun {
	position: absolute;
	top: 77px;
	left: calc(50% + 4px);
}

.zhiweizai-restaurant1 {
	position: absolute;
	top: 89px;
	left: calc(50% - 543px);
	font-size: 13px;
	font-family: Cinzel;
}

.zhiweizai-all-rights {
	position: absolute;
	top: 116px;
	left: calc(50% - 5px);
	font-size: 13px;
	font-family: Cinzel;
}

.wrapper {
	position: absolute;
	top: 64px;
	left: calc(50% + 452px);
	width: 95px;
	height: 24px;
	font-family: Cinzel;
}

@keyframes background-fade {
    0% { background-color: #870000; }
    100% { background-color: #720010; }
}

.menu, .about, .contact, .home, .catering {
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.menu:hover, .about:hover, .contact:hover, .home:hover, .catering:hover {
    color: #ffffff;
    transform: scale(1.1);
}













